*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.product-plans
{
    padding:75px 0;
}
.container
{
    max-width: 1070px;
    margin: 0 auto;

    /* background: black; */
}
.product-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-heading
{
    width:523px;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -1.88px;
}
.period-buttons
{
    padding:5px 6px;
    background: lightgrey;
    border-radius:10px;
}
.period-btn
{
    background: none;
    border:none;
    outline: none;

    cursor:pointer;

    font-size: 16px;
    font-weight: 700;
    color:#000;
    padding:17px 56px;
}

.period-btn.active
{
    background-color: #5454D4;
    color:#fff;
}

.yearly.active
{
    border-radius: 10px 0 0 10px;
}
.monthly.active
{
    border-radius: 0 10px 10px 0;
}

.cards-wrapper
{
    display: flex;
    gap:18px;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.card
{
    width:330px;
    padding: 30px 22px;
    background: lightgrey;
}

.card-title
{
    line-height: -0.56px;
    font-size: 18px;
    color:#696871;
}

.card.advantages
{
    width:307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    gap:7px;
    
}
.card-image
{
    width: 151px;
    height:97px;
}
.card-image.bank-card
{
    padding: 20px 8px 13px 29px;
}
.card-image.calculator
{
    padding:12px 10px 13px 50px;
}
.card-image.camera
{
    padding:21px 16px 13px 17px;
}

.advantages-heading
{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.75px;
    font-family: sans-serif;
}
.advantages-description
{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.5px;
    text-align: center;
    line-height: 24px;
    font-family: serif;
    color:#696871;
}